{% extends 'layout.html' %}


{% block title %}
    <title>Register</title>
{% endblock %}

{% block body %}
    <div class="container">
        <form action="" method="post">
            <input type="text" name="name" id="" placeholder="Name" class="form-control w-50"> <br>
            <input type="text" name="address" id="" placeholder="Address" class="form-control w-50"> <br>
            <input type="text" name="number" id="" placeholder="Mobile number" class="form-control w-50"> <br>
            <input type="text" name="username" id="" placeholder="Username" class="form-control w-50"> <br>
            <input type="password" name="pass" id="" placeholder="Password" class="form-control w-50"> <br>

            <input type="submit" value="Register" class="btn btn-primary w-50 btn-block">
        </form>
    </div>
{% endblock %}